'.source.adb, .source.ads, .source.ada':
  'editor':
    'commentStart': '-- '
    'increaseIndentPattern': '\\b(?i:(loop|declare|begin|exception|when|is|then|else|task)[^;]*$)\\b'
    'decreaseIndentPattern': '\\b(begin|end|else)\\b'
    'foldStartPattern': '\\b(?i:(procedure|package|function|task|type|loop|declare)[^;]*$)'
    'foldEndPattern': '\\b(?i:(end))\\b'
